/*
yags - Yet Another Grid System.

Previously based on a 12-column grid system.
Currently - any-column - grid system based on flex properties.

Some bare minimum to start from on your simple projects.

Created by Pawel Jonik - http://twitter.com/paweljonik/
Free to use under MIT License - http://opensource.org/licenses/MIT/

v.2.0 (15/06/2020)
- switched to flexbox
- code clean-ups
- todo: flip class convenction for forced/default behavior
v.1.1 (7/03/2014)
- example styling clean-up;
- added support for IE8 (via respond.js & html5shiv.js);
- tested on IE8;
v.1.0 (7/03/2014)
- initial release;

/* Table of Contents
==================================================
    #Tablet (Portrait) (768px on 768px devices)
    #Mobile (Portrait) (300px on 320px devices)
    #Mobile (Landscape) (420px on 480px devices)
    #Clearing 
*/

/* # Resets
==================================================*/
html {
	box-sizing: border-box;
  }
  *, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	text-align: center;
  }
body {
	text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {

}

/**/
._flex {
	display: flex; 
	flex-direction: row; 
	justify-content:center;
}
._flex > * {
	flex: 1; 
	flex-grow: 1;}
header > *,
section > *,
footer > * {
	width: 85%; 
	margin: 0 auto;
}

._1of2, ._half {
	flex: 0 1 50%;
}
._1of3, ._one-third {
	flex: 0 1 33.334%;
}
._2of3, 
._two-thirds {
	flex: 0 1 66.667%;
}
._1of4, 
._quarter, 
._one-fourth {
	flex: 0 1 25%;
}
._3of4, 
._three-quarters, 
._three-fourths {
	flex: 0 1 75%
}
._wide {
	flex: 0 1 100%;
}

._toleft {
	text-align: left; 
	justify-content: left;
}
._toright {
	text-align: right; 
	justify-content: right;
}

ul._horizontal {
	display: flex; 
	justify-content: center; 
	flex: 0 1 auto; 
	padding: 0;
}
ul._horizontal li {
	display: block;
	list-style-type: none;
}

@media (max-width: 45em){
	._flex {
		position: relative;
		display: flex;
		flex-flow: row wrap;
	}
	._1of2,
	._1of3,
	._2of3,
	._1of4,
	._3of4,
	._half, 
	._one-third, 
	._two-thirds, 
	._one-fourth, 
	._three-fourths,
	._quarter, 
	._three-quarters
	._toleft, 
	._toright,
	div {
		flex: 1 1 86%;
		text-align: center;
		/* flex-flow: row; */
	}
}